{{template "header" .}}
<div class="container">
    <h2 id="PageName">{{.PageName}}</h2>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="./login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./registration">Registration</a>
        </li>
    </ul>
    <form method="post" action="./login">
        <div class="mb-3">
            <label for="userLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="userLogin" name="userLogin" value="{{ .Data.UserLogin }}">
        </div>
        <div class="mb-3">
            <label for="userPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="userPassword" name="userPassword">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{{template "footer" .}}